<li>
  <div class="product-item"data-id=<%= product.id %> data-name="<% product.name %>">
    <%= product.name %>
  </div>
  <button class="btn" id="edit-product">Edit Product</button>
  <button class="btn" id="delete-product">Delete Product</button>
</li>